# Dependencies
node_modules/
/FrontEnd/node_modules/

# Production/Build outputs
dist/
/FrontEnd/dist/
target/
/BackEnd/target/

# Logs and system files
*.log
hs_err_pid*
replay_pid*
.DS_Store
Thumbs.db

# IDE and Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
